.Home{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.246);
    
}
.welcome{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.246);

}
.About{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.246);
}
.quiz{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.246);
}
.question{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.246);
}